@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px 3px 1px  rgb(230, 230, 230);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8.5%; /* Adjust distance from the left edge */
    width: 1px; /* Line thickness */
    background-color: rgb(211, 211, 211); /* Line color */
    z-index: 0; /* Ensures it stays behind other elements */
  }

.workContainer{
    display: flex;
    margin-top: 30px;
    margin-left: 5%;
}


.icon{
    height: 50px;
    width: auto;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    z-index: 1; 
}

.date{
    font-family: "Rubik", serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #a0a0a0;
    margin: 0;
    margin-left: 4%;
}

.location{
    font-family: "Rubik", serif;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    margin-left: 4%;
}

.role{
    font-family: "Rubik", serif;
    font-weight: 400;
    font-size: 0.85rem;
    color: #a0a0a0;
    margin: 0;
    margin-left: 4%;
}

.description{
    font-family: "Rubik", serif;
    font-size: 0.9rem;
    margin-top: 10px;
    width: 80%;
}

li{
    margin-top: 10px
}