@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container{
    width: 100%;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--bordercolor);
    box-shadow: var(--containershadow);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8%; 
    width: 1px;
    background-color: var(--bordercolor); 
    z-index: 0; 
  }


.workContainer{
    display: flex;
    margin-top: 30px;
    margin-left: 5%;
}


.icon{
    width: 6%;
    height: 6%;
    border-radius: 50%;
    border: 1px solid var(--bordercolor);
    z-index: 1; 
}

@media (max-width: 767px){ /*phones and tablets */
    .icon{
        height: 12%;
        width: 12%;
    }
    .container::before{
        left: 11%;
    }
}

.date{
    font-family: "Rubik", serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #a0a0a0;
    margin: 0;
    margin-left: 4%;
}

.location{
    font-family: "Rubik", serif;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    margin-left: 4%;
    color: var(--color);
}

.role{
    font-family: "Rubik", serif;
    font-weight: 400;
    font-size: 0.85rem;
    color: #a0a0a0;
    margin: 0;
    margin-left: 4%;
}

.description{
    font-family: "Rubik", serif;
    font-size: 0.9rem;
    margin-top: 10px;
    width: 80%;
}

ul li{
    color: var(--tablistbullets);
    margin-top: 10px;
}

