@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.container{
    display: flex;
    flex-direction: row;
    background-color: red;
    max-width: 50vw;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%; /* Allow the container to span the full width */
    }
}

.hi{
    color:black;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

.picture{
    width: 300px;
    height: auto;
}