@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.textcontainer{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hi{
    color:black;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.7rem;
    line-height: 1;
    margin: 0;
}

.info1{
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.info2{
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin:0;
    margin-bottom: 30px;
    text-align: justify;
}

.picture{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius:10%;
}

@media (max-width: 480px) { /*phones but not tablets*/
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .textcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}



