@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.textcontainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}

.hi{
    color:black;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    line-height: 0;
}

.info1{
    line-height: 0%;
}

.info2{
    line-height: 1.5;
}

.picture{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius:10%;
}

@media (max-width: 480px) { /*phones but not tablets*/
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .textcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hi{
        font-size: 3rem;
    }
    .info1{
        margin-bottom: 10;
        line-height: 100%;

    }
}



