.navbar{
    top:0;
    position: sticky;
    z-index: 1000; /* ensure that it stays above all other elements */
    padding-top: 3vh;
    padding-bottom: 3vh;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.8);
}

.navbarlinks{
    display: flex;
    gap: 3rem;
}

.link{
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.link:hover{
    color: black;
}