.navbar{
    margin-top: 2vh;
}

.navbarlinks{
    display: flex;
    gap: 3rem;
}

.link{
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.link:hover{
    color: black;
}