@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.container{
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15%;
}

.resumebutton{
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: var(--background-color);
    color: var(--color);
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    box-shadow: var(--containershadow);
}

.resumebutton:hover{
    background-color: var(--hovercolor)
}

.link:hover{
    fill:black;
}

.link{
    stroke-width: 0.3px;
}