:root {

  --color: rgba(0, 0, 0);
  --background-color: #ffffff;
  background-color: #ffffff;
  --bordercolor: rgb(230, 230, 230);
  --containershadow: 0 1px 3px 1px  rgb(230, 230, 230);
  --buttonhovercolor: rgb(245, 245, 245);
  --hovercolor: color:rgb(54, 54, 54);
  --navbarcolor: rgba(255, 255, 255, 0.8);
  --tablistcolor: rgb(238, 238, 238);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

html[data-theme='dark'] {
  --color: #ffffff;
  --background-color: #030712;
  background-color: #030712;
  --bordercolor: #1f242b;
  --containershadow: none;
  --buttonhovercolor: rgba(36, 46, 56, 0.7);
  --hovercolor: white;/*for social icons and text*/
  --navbarcolor: rgba(3, 7, 18, 0.8);
  --tablistcolor: #1f242b;
}


body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 40vw;
  margin-left: 30vw;
  margin-top: 0;
}

@media (max-width: 820px){ /*phones and tablets use entire screen*/
    body{
        max-width: 100vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
}

@media (min-width: 821px)and (max-width:1366px){ /*laptops use most of screen*/
  body{
      max-width: 80vw;
      margin-left: 10vw;

  }
}



