.header{
    color: var(--color);
    font-family: "PT Serif", "Chicle", serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 1vh;
}

.soon{
    margin-top: 10vh;
    color: var(--color);
    font-family: "PT Serif", "Chicle", serif;
    font-weight: 400;
    font-size: 2rem;
    justify-content: center;
    display: flex;
}