.container{
}

.form{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    gap: 1vw;
}   

.row1{
    flex:1;
    border-radius: 10px;
    border: 1px solid var(--bordercolor);
    box-shadow: var(--containershadow);
    padding: 10px;
    font-family: "Rubik", serif;
    font-size: 0.9rem;
    background-color: var(--background-color);
    color: var(--color);
}

.bottom{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.row2{
    flex:1;
    border-radius: 10px;
    border: 1px solid var(--bordercolor);
    box-shadow: var(--containershadow);
    padding: 10px;
    font-family: "Rubik", serif;
    font-size: 0.9rem;
    background-color: var(--background-color);
    resize: none;
    color: var(--color);
}
