.header{
    color: var(--color);
    font-family: "PT Serif", "Chicle", serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 1vh;
}

.cards{
    margin-bottom: 10vh;
}