.container{
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.headertext{
    color: var(--color);
    font-family: "PT Serif", "Chicle", serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;

}

.linkcontainer{
    display: flex;
    align-items: center;
}

.arrow{
    color:rgb(165, 165, 165);
    margin-left: 8px;
}

.link{
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color:rgb(165, 165, 165);
    margin: 0;
}

.linkcontainer:hover .link,
.linkcontainer:hover .arrow{
    color: var(--hovercolor);
}

.projects{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

@media (max-width: 767px){
    .projects{
        flex-direction: column;
    }
}

.projectsquare{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--bordercolor);
    box-shadow: var(--containershadow);
}

.cardholder{
    background-color:  var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 10px;
}

.title{
    font-family: "Rubik", serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 8px;
    color: var(--color);
}

.description{
    font-family: "Rubik", serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--tablistbullets);
    margin: 0;
}

.tools{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tool{
    background-color: var(--bordercolor);
    border-radius: 50px;
    font-family: "Rubik", serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

.sourceCode{
    color: var(--background-color);
    background-color: var(--color);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sourceCode:hover{
    opacity: 0.7;
}

.picture{
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--pictureshadow);
}