.container{
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headertext{
    color:black;
    font-family: "PT Serif", "Chicle", serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;

}

.linkcontainer{
    display: flex;
    align-items: center;
}

.arrow{
    color:rgb(165, 165, 165);
    margin-left: 8px;
}

.link{
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color:rgb(165, 165, 165);
    margin: 0;
}

.linkcontainer:hover .link,
.linkcontainer:hover .arrow{
    color:rgb(54, 54, 54);
}

.projects{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.projectsquare{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px 3px 1px  rgb(230, 230, 230);
}

.cardholder{
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
}

.title{
    font-family: "Rubik", serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 8px;
}

.description{
    font-family: "Rubik", serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #6b6b6b;
    margin: 0;
}

.tools{

}

.sourceCode{

}

.picture{
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 3px 5px 4px rgb(194, 194, 194);
}